*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --corPadraoA: #ca2104;
    --corPadraoB: #8a1702;
    --corPadraoC: #fd2c3c;
    --corPadraoD: #706f6f;
    --corPadraoE: #444444;
}
.center{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: solid 1px #cacaca;
}
.logo{
    color: var(--corPadraoA);
}
.logo h2{
    font-weight: normal;
    font-size: 22px;
}
.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: var(--corPadraoB);
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.15s;
}

.menu a:hover{
    color: var(--corPadraoC);
}
.menu .btn-menu{
    background-color: var(--corPadraoC);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    color: #ffffff;
}

.menu .btn-menu:hover{
    background-color: var(--corPadraoB);
    color: #ffffff;
}



section.main{
    background-image: url('/assets/img/hero-bg.jpg');
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-cta{
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main-cta h2{
    color: var(--corPadraoA);
    font-size: 40px;
}

.main-cta p {
    color: var(--corPadraoD);
    font-size: 19px;
    margin: 10px 0;
    border: 0;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    background-color: #ffffff;
    margin: 1px 5px;
    width: 23%;
    margin-right: 1%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 29px rgb(18 66 101 / 8%);
}

.diferencial-single i{
    color: var(--corPadraoB);
    font-size: 23px;
}

.diferencial-single h2{
    color: var(--corPadraoB);
    margin: 10px;
    font-size: 17px;
}

.diferencial-single p{
    color: var(--corPadraoD);
    font-size: 14px;
    line-height: 30px;
}

section.sobre{
    padding: 80px;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}
.chamada-sobre h2{
    color: var(--corPadraoB);
    text-transform: uppercase;
}

.chamada-sobre p{
    font-size: 14px;
    color: var(--corPadraoD);
    margin: 10px 0;
}
.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
}
.conteudo-sobre p{
    width: 48%;
    margin-right: 2%;
    color: var(--corPadraoE);
}
.conteudo-sobre span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.conteudo-sobre i{
    color: var(--corPadraoC);
}

section.conquistas{
    background-color: #f8fbfe;
    padding: 20px 0;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: var(--corPadraoB);
}

.conquista-single h2{
    font-size: 30px;
}
.conquista-single img{
    max-width: 100%;
    filter: grayscale(100%);
    transform: scale(1,1);
    transition: 0.4s;
}

.conquista-single img:hover{
    filter: grayscale(0);
    transform: scale(1.1,1.1);
}

.conquista-single.logo_abaixo{
    width: 16%;
    margin-right: 9%;
}

section.sobre-empreendedor{
    padding: 40px 0;
}

.sobre-empreendedor-img{
    width: 50%;
    height: 50%;
    margin-top: 10px;
}

.sobre-empreendedor-img img{
    max-width: 100%;
}

.sobre-empreendedor-content{
    width: 50%;
    padding: 0 50px;
}

.sobre-empreendedor-content h2{
    margin-bottom: 20px;
    color: var(--corPadraoB);
}

.sobre-empreendedor-content p{
    color: var(--corPadraoE);
    font-size: 14px;
    margin-bottom: 14px;
}
section.depoimentos{
    padding: 40px 0;
}
section.depoimentos .depoimentos-chamada{
    text-align: center;
}

.depoimentos-chamada h2{
    color: var(--corPadraoB);
    text-transform: uppercase;
    /* font-size: 40px; */
}

.depoimentos-chamada p{
    color: var(--corPadraoE);
    margin: 10px 0;
    font-size: 14px;
}

.carousel{
    display: flex;
}

.carousel-single{
    width: 31%;
    margin-right: 2%;
    text-align: center;
}

.carousel-single img{
    width: 70px;
    height: 70px;
    display: inline;
    margin: 10px 0;
    border-radius: 50%;
}

.carousel-single-box{
    padding: 20px;
    background-color: #f3f9fd;
    border-radius: 10px;
}

.carousel-single-box i{
    color: #a9b7c0;
    font-size: 19px;
    padding: 0 8px;
}
.carousel-single-box p{
    font-style: italic;
    font-size: 14px;
    color: #4b4b4b;
}
.carousel-single span{
    color: #cccccc;
}